ul {
  list-style-type: none;
  padding-left: 0;
}

.card {
  width: 100px;
  border: solid 1px;
  border-radius: 5px;
  position: relative;
  top: 5px;
}
.card .build {
  width: 98px;
  padding: 48px 0px;
  border: solid 1px;
  border-radius: 5px;
}

.freecells {
  display: flex;
}

.tableau {
  display: flex;
  justify-content: center;
}

.freecells > div, .tableau > div {
  padding: 75px 50px;
  border: solid thin;
  border-radius: 5px;
}